/*VARIABLES*/


    /*palette*/
    $primary: #201F1F;
    $second: #F0B90B;
    $light: #E43B4F;
    $accent: #ffffff;

    /*font sizes*/

    $text-xxl:5em;
    $text-xl:4em;
    $text-l:3em;
    $text-m:2.2em;
    $text-s:1.6em;
    $text-xs:1.2em;

    /*spacings*/

    $sp-xxl:12rem;
    $sp-xl:8rem;
    $sp-l:5rem;
    $sp-m:3.2rem;
    $sp-s:1.6rem;
    $sp-xs:.8rem;
    


    /*operaciones*/

    $ancho: 800px;
    $blue: #4285F4;
    $green: #33D374;


