/*HEADER REPEAT*/

.header{
    background: $primary;

    .header__nav{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        .header__logo{
            min-width: 180px;
            max-width: 180px;
            /* margin: 1px; */
            /* border-radius: 50px; */
            /* border: solid darkgoldenrod; */
            
        }
        
        .header__menu{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            gap:var(--sp-s);
            margin:0rem;

            .header__col{
                list-style-type: none;
                transition: all .3s ease-in-out;
                border-radius: .2rem;

                &:hover{
                    background-color: $second;
                    color: $accent;
                }
                
                .header__anchor{
                    text-decoration: none;
                    color: $accent;
                    padding: $sp-s;
                    font-size: $text-xs;
                    
                }

            }
            
            

        }
        

    }
    

}


/*MEDIA*/

@media only screen and (max-width: 480px){

    .navbar{
        display: flex;
        flex-direction: column;
    }

    #pie{
        display: flex;
        flex-direction: row;
        align-self: stretch;
        justify-content: space-around;
    }

}

@media only screen and (max-width: 635px){
    .header__nav{
        flex-direction: column;
        align-items: center;
        font-size: $text-xs;
    }
    .header__menu{
        flex-direction: column;
        align-items: initial;
        gap: $sp-xs;
        padding: $sp-xs;
        justify-content: center;
    }
    .header__col{
        text-align: center;
        margin:0px;
        padding: $sp-xs;
    }

    .navbar{
        display: flex;
        flex-direction: column;
    }

    #pie{
        display: flex;
        flex-direction: row;
        align-self: stretch;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 767px){
    .header__nav{
        flex-direction: column;
        align-items: center;
        font-size: $text-xs;
    }
    .header__menu{
        /* flex-direction: column;
        align-items: initial;
        gap: var(--sp-xs);
        padding: var(--sp-xs); */
        justify-content: center;
    }
    .header__col{
        text-align: center;
        margin:0px;
        padding: $sp-xs;
    }

    .navbar{
        display: flex;
        flex-direction: column;
    }

    .caja2{
        display: flex;
        flex-direction: column;
    }

    #pie{
        display: flex;
        flex-direction: row;
        align-self: stretch;
        justify-content: space-around;
    }
}