/*HEADER REPEAT*/


#headerbg{
    background-color: $general;
    
    
    .navbar{
        background-color: $general;

        .navbar-toggler{
            background-color: $accent;
            transition: all .2s ease-in-out;
            border-radius: .4rem;
            
            &:hover{
                background-color: $accent;
                padding: .9rem;
            }

            
        }

        .navbar-collapse{

            .navbar-nav{
                align-items: center;
                gap: $sp-xs;
    
                .nav-item{

                    transition: all .3s ease-in-out;
                    border-radius: .3rem;

                    &:hover{
                        background-color: $second;
                        padding: .5rem;
                    }
        
                    .nav-link{
                        color: $accent;
                        font-size: 1.2em;
                    }
        
                }
    
            }

            .d-flex{
                
                .btn{
                    color: $accent;
                    border: solid 1px $second;
                    &:hover{
                        background-color: $second;
                        
                    }
                }
            }
        }



            
        
    }
}

/*MEDIA*/

@media only screen and (max-width: 490px){

    
}

@media only screen and (max-width: 635px){
    .header__nav{
        flex-direction: column;
        align-items: center;
        font-size: $text-xs;
    }
    .header__menu{
        flex-direction: column;
        align-items: initial;
        gap: $sp-xs;
        padding: $sp-xs;
        justify-content: center;
    }
    .header__col{
        text-align: center;
        margin:0px;
        padding: $sp-xs;
    }

    .navbar{
        display: flex;
        flex-direction: column;
    }

    #pie{
        display: flex;
        flex-direction: row;
        align-self: stretch;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 767px){
    
    .header{
        font-size: $sp-xs;

        // .header__nav{
            
        //     .header__logo{

        //     }
            
        // }
        // .header__menu{
        //     .header__col{
        //         .header__anchor{

        //         }
        //     }
        // }
    }
    
    // .header__nav{
    //     flex-direction: column;
    //     align-items: center;
    //     font-size: $text-xs;
    // }
    // .header__menu{
    //     /* flex-direction: column;
    //     align-items: initial;
    //     gap: var(--sp-xs);
    //     padding: var(--sp-xs); */
    //     justify-content: center;
    // }
    // .header__col{
    //     text-align: center;
    //     margin:0px;
    //     padding: $sp-xs;
    // }

    // .navbar{
    //     display: flex;
    //     flex-direction: column;
    // }

    // .caja2{
    //     display: flex;
    //     flex-direction: column;
    // }

    // #pie{
    //     display: flex;
    //     flex-direction: row;
    //     align-self: stretch;
    //     justify-content: space-around;
    // }
}

@media only screen and (max-width: 991px){
    .form-control{
        display: none;
    }
    .btn{
        display: none;
    }
}