/*CONTACTO*/

#contme{
    background-color: $primary;
    color: $accent;
}
.contacto {

    display: flex;
    flex-flow: row;
    gap: $sp-m;
    padding-top: $sp-xl;
    align-items: center;
    
    .column{
        display: flex;
        flex-flow: column;
        margin: 0 0 $sp-m;
        flex: 1 1 50%;
        // justify-content: left;

        .mensaje{
            // min-width: 300px;
            flex: 1 1 0%;
            align-self: flex-end;
            
            .hm{
                text-align: left;
                // font-size: $text-xl;
                color: $second;
            }
            
            .textm{
                // color: $primary;
                // font-size: $text-m;
                font-weight: $primary;
                text-align: left;
                letter-spacing: 1px;
                margin-top: $sp-m;
                padding-right: $sp-m;
                line-height: 24px;
                max-width: 400px;
                
            }

            .box1{
                flex: 1 1 0%;
                flex-wrap: wrap;

                .links{
                    text-decoration: none;
                    color: $accent;
                    // font-size: 16px;
                    padding: 1rem 0.2rem;
                    display: flex;
                }
            }
        }
    }

    .formulario{
        display: flex;
        flex-direction: column;
        border-left: 2px solid $second;
        padding-left: $sp-m;
        flex: 1 1 50%;
        align-self: flex-start;

        .alinea{
            display: flex;
            flex-direction: row;
            flex: 1 1 0%;
            gap: $sp-m;

            .column{
                display: flex;
                flex-flow: column;
                margin: 0 0 $sp-m;
                
                
            }
        }

        .esbtn{
            align-self: center;
            padding: $sp-m;
            
            .btncont{
                background-color: $primary;
                color: $second;
                border: solid 1px $second;
                border-radius: $sp-xl;
                padding: 4rem;
                transition: all .3s ease-in-out;
                &:hover{
                    background-color: $primary;
                    padding: 50px;
                }
            }

        }

    }


}


/*MEDIA*/

@media only screen and (max-width: 490px){
    
    
    
}

@media only screen and (max-width: 572px){
    .alinea{
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 767px){
    .contacto {
        flex-wrap: wrap;
    }
    .mensaje{
        font-size: .8em;
    }
    .links{
        font-size: 1.5em;
    }

    
}

