
// BANNER

.banner img{
    display: grid;
    place-items: center;
    width: 100%;
    height: auto;
    /* min-width: 180px;
    max-width: 180px; */
}

// MENU PRINCIPAL




#infocurso{
    display: flex;
    background: $primary;
    

    .infocurso__box1{
        display: flex;
        flex-direction: column;
        flex: 1 1 50%;
        justify-content: center;
        align-items: center;
        padding: 8rem;
        
        .infocurso__h1{
            display: block;
            align-self: center;
            font-size: $text-xxl;
            color: $second;
        }
        
        .infocurso__parrafo{
            padding: 2.2rem;
            font-size: $text-m;
            color: $accent;
        }

    }


    .infocurso__box2{
        display: grid;
        flex: 1 1 50%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 0.8rem;

        .infocurso__integral {
            grid-column: 2;
            grid-row: 1;
            align-self: end;
        }
        
        .infocurso__basico {
            grid-column: 1;
            grid-row: 1;
            align-self: end;
            justify-self: self-end;
            padding: .8rem;
        }
        
        
        .infocurso__avanzado {
            grid-column: 1;
            grid-row: 2;
            align-self: start;
            justify-self: flex-end;
        }
        
        
        .infocurso__fundamental {
            grid-column: 2;
            grid-row: 2;
            align-self: start;
            justify-self: start;
            padding: .8rem;
        }


    }
    

    

}

// MENU DESCRIPTION

.bg_three{
    background-color: $primary;
    color: $accent;
                    
    .educacion{
        display: flex;
        flex-direction: column;

        .educacion__h2{
            text-align: center;
            font-size: 5em;
            font-weight: 300;
            line-height: 64px;
            margin-top: 3em;

            .h2--gold{
                color: $second;
            }
        }

        ul{
            display: flex;
            flex-direction: column;
            gap: 15rem;
            margin-top: 10rem;
            margin-bottom: 10rem;
        }

        h3{
            color: $second;
            text-align: start;
            margin: 0 18px 8px 0;
            font-size: 24px;
            line-height: 32px;
            font-weight: 400;
            max-width: 310px;

        }
        p{
            font-size: $text-xs;
            text-align: start;
            margin: 0;
            max-width: 324px;
            line-height: 2;
        }
        
        img{
            width: 486px;
            height: 370px;
            border-bottom: solid 2px $second;
            border-radius: 5%;
            
            
        }


        .educacion__item{
            display: flex;
            flex-direction: row;
            gap: 2rem;

            .educacion__aling{
                align-self: center;
                margin: 0 5rem 0 1rem;
                
            }
            .img--md{
                height: 300px;
            }
            
        }

        .educacion__item--reves{
            display: flex;
            flex-direction: row-reverse;
            align-self: flex-start;
            gap: 4rem;

            .educacion__aling{
                align-self: center;
                margin: 0 1rem 0 5rem;
            }
        }
    }

    .contenedor{
        display: flex;
        flex-flow: column wrap;
        align-content: normal;
        text-align: center;
        max-width: 677px;
        gap: 5rem;

        .educacion__h2{
            text-align: center;
            font-size: 5em;
            font-weight: 300;
            line-height: 64px;

            .h2--gold{
                color: $second;
            }
        }

        a{
            text-decoration: none;
            color: $accent;
            background: black;
            font-size: 2em;
            padding: 25px;
            max-width: 250px;
            border-radius: 5rem;
            align-self: center;
            margin-bottom: 11rem;
            transition: all .3s ease-in-out;

            &:hover{
                background-color: $second;
                color: $accent;
                padding: 26px;
            }
        }

        .circuit{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            &__direccion{
                display: flex;
                flex-direction: column;
                align-items: center;

                p{
                    max-width: 100px;
                }
            }
            
            svg{
                width: 60px;
                height: 60px;
    
            }
        }


    }
}

// MENU ICONOS 

#infoextra{
    display: flex;
    flex-direction: column;
    gap: 6rem;
    align-items: center;
    padding: 3.2rem;
    color: $accent;
    overflow: hidden;

    .infoextra__h2{
        text-align: center;
        font-size: 24px;
    }
    
    .infoextra__icons{
        display: flex;
        flex-flow: row;
        gap: $sp-s;
        align-items: center;
        margin-bottom: 9rem;

        .icono{
            display: flex;
            align-items: center;
            gap: $sp-m;

            .infoextra__iconos i{
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: $sp-m;
                color: $second;
                text-align: center;
                

            }

        }

        .infoextra__parrafo{
            text-align: center;
        }
    }
    
}


// CONDICIONADOR


.bg_primary{
    background-color: $primary;
}
.bg_second{
    background-color: $primary;
}

.boton--general{
    text-align: center;
    font-size: 2rem;
    background-image: radial-gradient(circle, #388181, #326a6a, #2c5454, #253f3f, #1d2b2b, #192323, #161a1a, #111212, #111212, #111212, #101212, #101212);
    transition: all .2s ease-in-out;
    &:hover{
        padding: .5rem;
    }
}

/*MEDIA INDEX*/


@media only screen and (max-width: 480px){
    
    .infocurso__box1{
        align-items: center;
    }

    .infocurso__h1{
        padding: $sp-s;
    }

    .infocurso__box2{
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    .infocurso__box2 img{
        padding: $sp-xs;
    }

    .infocurso__box2 figure{
        padding: 0px;
    }

    
    .infoextra__icons{
        justify-content: center;
    }

    .navbar{
        display: flex;
        flex-direction: column;
    }

    #pie{
        display: flex;
        flex-direction: row;
        align-self: stretch;
        justify-content: space-around;
    }

    .bg_three .educacion img{
        width: 100%;
    }

    .bg_three .educacion .educacion__item{
        flex-direction: column;
        align-items: center;
        font-size: 1.5em;
        max-width: 350px;
    }

    .bg_three .educacion .educacion__item--reves{
        flex-direction: column;
        align-items: center;
        font-size: 1.5em;
        max-width: 350px;
    }

    .bg_three .contenedor .circuit{
        flex-wrap: wrap;
    }

    .bg_three .educacion p{
        text-align: center;
        font-size: 1.4em;
        max-width: 400px;
        
        
    }

    .bg_three .educacion h3{
        text-align: center;
    }

    .bg_three .educacion .educacion__h2{
        font-size: 4em;
    }


}

@media only screen and (max-width: 635px){
    .header__nav{
        flex-direction: column;
        align-items: center;
        font-size: $text-xs;
    }
    .header__menu{
        flex-direction: column;
        align-items: initial;
        gap: $sp-xs;
        padding: $sp-xs;
        justify-content: center;
    }
    .header__col{
        text-align: center;
        margin:0px;
        padding: $sp-xs;
    }
    #infocurso{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .infocurso__box1{
        flex-direction: column;
        justify-content: center;
        padding: $sp-xs;
        
    }

    .infocurso__h1{
        font-size: 1.8em;
    }

    .infocurso__parrafo{
        font-size: 1.2em;
    }

    .infocurso__link{
        font-size: 1.4em;
    }

    .infocurso__box2 img{
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 100%;

        /* grid-template-columns: 1;
        grid-template-rows: auto;
        justify-items: end;
        overflow:auto; */
        
    }


    .infoextra__icons{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .navbar{
        display: flex;
        flex-direction: column;
    }

    #pie{
        display: flex;
        flex-direction: row;
        align-self: stretch;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 820px){

    #infocurso{
        display: flex;
        flex-direction: column;

        .infocurso__box1{
            display: flex;
            align-self: center;

            .infocurso__h1{
                font-size: 3.5em;
                text-align: center;
            }

            .infocurso__parrafo{
                font-size: 1.4em;
                max-width: 400px;
                line-height: 2;
            }
        }

        .infocurso__box2{
            display: flex;
            flex-direction: column;
            .infocurso__integral{
                display: flex;
                flex-direction: column;
                align-self: center;
            }
            .infocurso__basico{
                display: flex;
                flex-direction: column;
                align-self: center;
            }

            .infocurso__avanzado{
                display: flex;
                flex-direction: column;
                align-self: center;
            }

            .infocurso__fundamental{
                display: flex;
                align-self: center;
            }
    
    
        }
        

    }

    #infoextra{
        display: flex;
        flex-direction: column;

        .icono{
            display: flex;
            flex-direction: column;
        }
        .infoextra__icons{
            display: flex;
            flex-flow: column;
            }
    }

    .bg_three .educacion img{
        width: 100%;
    }

    .bg_three .educacion .educacion__item{
        flex-direction: column;
        align-items: center;
        font-size: 1.5em;
        max-width: 350px;
    }

    .bg_three .educacion .educacion__item--reves{
        flex-direction: column;
        align-items: center;
        font-size: 1.5em;
        max-width: 350px;
    }

    .bg_three .contenedor .circuit{
        flex-wrap: wrap;
    }
    .bg_three .educacion ul{
        align-items: center;
    }

    .bg_three .educacion .educacion__h2{
        font-size: 3em;
        line-height: 44px;
    }
    
    .bg_three .educacion .educacion__item--reves{
        align-self: center;
    }

}
@media only screen and (max-width: 1110px){
    #infocurso{
        display: flex;
        flex-direction: column;
    }
    .infocurso__box1{
        display: flex;
        /* flex-direction: column-reverse; */
        
    }

    #infocurso .infocurso__box2 .infocurso__integral{
        width: fit-content;
    }

    
}

/*FIN MEDIAS*/