/*NOSOTROS*/

.mision{
    font-family: 'Poppins', sans-serif;
    background-color: $primary;
    color: $accent;
    
    .container{
        display: flex;
        flex-direction: column;
        gap: $sp-xl;


        .mision__vision{
            display: flex;
            flex-flow: row;
            gap: $sp-s;
            padding: $sp-m;
            border-top: 2px solid #F0B90B;
            margin-top: 5rem;
    
            .mision__art{
                align-self: center;
                text-align: center;
                font-size: 1.5em;
            }
    
            .mision__video{
                width: 100%;
                padding: $sp-xs;
                overflow: hidden;
            }

        
        }
    
        .mision__rendimientos{
             display: flex;
             flex-direction: row-reverse;
             border-top: 2px solid #F0B90B;
             border-bottom: 2px solid #F0B90B;
             padding: $sp-m;
             margin-bottom: 5rem;
             .mision__text{
                align-self: center;
                text-align: center;
                font-size: 1.5em;
            }
             
             .mision__visual{
                width: 100%;
                padding: $sp-m;
             }
    
        }

        .mision__portafolio{
            
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            gap: .8rem;

            .hm{
                color: $second;
                padding: 2rem;
            }

            .mision__tmn{
                width: 150px;
                padding: .5rem;
                
            }

        }
        
        
    }

    

}

img{
    width: 100%;
    
}

.hm{
    color: $second;
    padding: 2rem;
}

.ptext--m{
    line-height: 2;
}

/*MEDIA*/

@media only screen and (max-width: 490px){

}

@media only screen and (max-width: 635px){
    .mision__vison{
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 767px){
    .mision .container .mision__vision{
        display: flex;
        flex-direction: column;
        .text-modif{
            min-width: 250px;
        }
    }

    .mision .container .mision__rendimientos{
        flex-direction: column;
    }
}

@media only screen and (max-width: 991px){
    
}

