/*NOSOTROS*/

.mision{
    font-family: 'Poppins', sans-serif;
    background-color: $primary;
    color: $accent;
    
    .container{
        display: flex;
        flex-direction: column;
        gap: $sp-xl;


        .mision__vision{
            display: flex;
            flex-flow: row;
            gap: $sp-s;
            padding: $sp-m;
            border-top: 2px solid #F0B90B;
            margin-top: 5rem;
    
            .mision__art{
                align-self: center;
                text-align: center;
                font-size: 1.5em;
            }
    
            .mision__video{
                width: 100%;
                padding: $sp-xs;
                overflow: hidden;
            }

        
        }
    
        .mision__rendimientos{
             display: flex;
             flex-direction: row-reverse;
             border-top: 2px solid #F0B90B;
             border-bottom: 2px solid #F0B90B;
             padding: $sp-m;
             margin-bottom: 5rem;
             .mision__text{
                align-self: center;
                text-align: center;
                font-size: 1.5em;
            }
             
             .mision__visual{
                width: 100%;
                padding: $sp-m;
             }
    
        }
        
        .mision__clientes{
            background-image: url(../../multimedia/banner-clientes.png);
            display:flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: $sp-m;
            font-size: 1.5em;
            padding: $sp-m;
            margin-bottom: 5rem;
            
    
    
            .mision__empresas{
                display: flex;
                flex-direction: row;
                align-self: stretch;
                justify-content: space-between;
                
                
                .mision__empre{
                   width: 150px;
                }
            }
        }
    }

    

}

/*MEDIA*/

@media only screen and (max-width: 490px){

}

@media only screen and (max-width: 635px){

}

@media only screen and (max-width: 767px){
    
}

@media only screen and (max-width: 991px){
    
}

