/* SERVICIOS */

#backone{
    background-color: $primary;
    color: $accent;
    width: 100%;

    .servicios__element{
        display: flex;
        flex-flow: column wrap;
        gap: 1.6rem;
        align-content: center;
        justify-content: center;
        align-items: center;
        padding: 5rem;
        
        .servicios__titulo{
            font-size: $text-m;
            color: $second;
        }
        .service-img{
            width: 100%;
        }
        .servicios__parrafo{
            text-align: center;
            color: $accent;
            font-size: $text-s;
            max-width: 500px;
            padding: 1.2rem;
            line-height: 2;
        }
    }

    
}

/*MEDIA*/

@media only screen and (max-width: 490px){

    .servicios__titulo{
        font-size: $text-s;
        color: $second;
    }
    
    .servicios__parrafo{

        font-size: $text-xs;
        max-width: 300px;
        padding: 1.2rem;
        line-height: 1.5;
    }
    
}

@media only screen and (max-width: 635px){

}

@media only screen and (max-width: 767px){
    
}

@media only screen and (max-width: 991px){
    
}
